/*hace que la navbar y el carrousel hereden el color*/

:root {
    --navbar-color: rgb(117, 114, 115);
}

/*Carrousel*/
.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-image: none;
    color: var(--navbar-color);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    transition: color 0.15s ease-in-out;
}

.carousel-control-prev-icon:hover,
.carousel-control-next-icon:hover {
    color: rgba(150, 150, 150); /* Un color más claro que --navbar-color */
}

.carousel-control-prev-icon:before,
.carousel-control-next-icon:before {
    content: '‹', '›';
    font-size: 4em;
    line-height: 4; 
    color: var(--navbar-color);
    display: inline-block;
    padding-top: 2px;
}

.carousel-indicators li {
    width: 12px;
    height: 12px;
    border-radius: 50%;
}

.carousel-indicators .active {
    background-color: var(--navbar-color);
}

/*Navbar*/
.navbar {
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: white;
    
}

.navbar a {
    color: white;
    text-decoration: none;
    transition: color 0.15s ease-in-out; 
}

.navbar-brand.no-transition{
    color: inherit; 
}

.product-button {
    /* Estilos base para el botón */
    background-color: #353635; /* Verde */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }

.product-button:hover {
    /* Estilos para el botón cuando el mouse está sobre él */
    background-color: #4CAF50;
    transition: background-color 0.3s ease-in-out; /* Slow color transition */
}