{% extends "master.html" %}
{% load static %}
{% load filters %}
{% block contenido %}
    
    <link rel="stylesheet" href="{% static 'cliente/model/css/styleIndex.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/owl.carousel.js"></script>
    <div class="form-login" style="padding-top: 80px;" id="productos">
        <div class="trends">
            <div class="bbb_background"></div>
            <div class="bbb_overlay"></div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="bbb_container">
                            <h1 class="bbb_title">Productos Destacados de la Semana</h1>
                            <div class="bbb_text">
                                <p>Encuentra los productos más destacados de 2022.</p>
                            </div> 
                            <div class="bbb_slider_nav d-none d-md-block">
                                <div class="bbb_prev bbb_nav"><i class="fas fa-angle-left ml-auto"></i></div>
                                <div class="bbb_next bbb_nav"><i class="fas fa-angle-right ml-auto"></i></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-9">
                        <div class="bbb_slider_container">
                            <div class="owl-carousel owl-theme bbb_slider">
                            {% for producto in randomprod %}
                            <div class="owl-item">
                                <div class="bbb_item is_new">
                                    <div class="bbb_image d-flex flex-column align-items-center justify-content-center">
                                        <img src="{{ producto.imagen }}" alt="{{ producto.nombre }}">
                                    </div>
                                    <div class="bbb_content">
                                        <div class="bbb_category"><a href="javascript:void(0);">{{ producto.categoria }}</a></div>
                                        <div class="bbb_info clearfix">
                                            <div class="bbb_name"><a href="#product-{{ producto.id }}">{{ producto.nombre }}</a></div>
                                            <div class="bbb_price price PRECIOA"><a href="javascript:void(0);">${{ producto.precio|format_price }} CLP</a></div>
                                        </div>
                                    </div>
                                    <ul class="bbb_marks">
                                        <li class="offer-icon">Oferta!</li>
                                    </ul>
                                    <a href="{% url 'gestionarListaDeseos' 'agregar' producto.id 'index'%}" ><div class="bbb_fav"><i class="fas fa-heart"></i></div></a>
                                </div>
                            </div>
                            {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div id="carruselbutton" class="d-md-none ml-auto">
                    <div class="bbb_prev bbb_nav"><i class="fas fa-angle-left ml-auto"></i></div>
                    <div class="bbb_next bbb_nav"><i class="fas fa-angle-right ml-auto"></i></div>
                    </div>
                </div>
            </div>
        </div>



    
            <!-- Galeria de productos -->
        <style> 
            {% for producto in productos %}
            .section-products #product-{{ producto.id }} .part-1::before {
                background-image: url("{{ producto.imagen }}");
                background-size: contain; 
                background-repeat: no-repeat; 
            }
            {% endfor %}
        </style>

        
        
        <section class="section-products" id="galeria">
            <div class="container">
                <div class="row justify-content-center text-center">
                    <div class="col-md-8 col-lg-6">
                        <div class="header">
                            <h3>Lo Más Vendido</h3>
                            <h2>Galeria de Productos</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                {% for producto in productos %}
                    <div class="col-md-6 col-lg-4 col-xl-3">
                        <div id="product-{{ producto.id }}" class="single-product">
                            <div class="part-1">
                                {% if producto.precio_Oferta %}
                                    <span class="discount">{{ producto.descuento }}% off</span>
                                {% endif %}
                                <ul>
                                    <a href="{% url 'gestionarCarrito' 'agregar' producto.id 'carrito' %}" id="aacc"><button class="buttonM"><i class="fas fa-shopping-cart"></i></button></a>
                                    {% if producto.en_lista_deseos %}
                                        <a href="{% url 'gestionarListaDeseos' 'eliminar' producto.id 'index' %}" id="edldi"><button class="buttonM deseos" data-id="{{ producto.id }}"><i class="fas fa-heart" style="color: red;"></i></button></a>
                                    {% else %}
                                        <a href="{% url 'gestionarListaDeseos' 'agregar' producto.id 'index' %}" id="aald"><button class="buttonM deseos" data-id="{{ producto.id }}"><i class="fas fa-heart"></i></button></a>
                                    {% endif %}
                                    <a href="{% url 'gestionarCarrito' 'agregar' producto.id  'index' %}" id="aaci"><button class="buttonM"><i class="fas fa-plus"></i></button></a>
                                    <a id="expand"><button class="buttonM"><i class="fas fa-expand"></i></button></a>
                            


                                </ul>
                            </div>
                            <div class="part-2">
                                <p class="product-text d-none d-md-none ">{{ producto.descripcion }}</p>
                                <p class="product-brand d-none d-md-none"><small class="text-body-secondary">Marca: {{ producto.marca }}</small></p>
                                <p class="product-stock d-none d-md-none"><small class="text-body-secondary">{{ producto.stock }}+ Disponibles</small></p>
                                <div class="product-title"><a href="{% url 'producto_detalle' producto.id %}">{{ producto.nombre }}</a></div>
                                <div style="display: flex; justify-content: end;">
                                    {% if producto.precio_Oferta %}
                                        <div class="product-old-price price" style="margin-top: 6px; color: red;"><del><a href="javascript:void(0);">${{ producto.precio|format_price }} CLP</a></del></div>
                                        <div class="product-price btn rounded-pill product-button price"><a href="javascript:void(0);">${{ producto.precio_Oferta|format_price }} CLP</a></div>
                                    {% else %}
                                        <div class="product-price btn rounded-pill product-button price"><a href="javascript:void(0);">${{ producto.precio|format_price }} CLP</a></div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                </div>
            </div>
        </section>
        
        
        <script>
                $(document).ready(function() {
                    $(document).on('click', '.deseos', function(event) {
                        event.preventDefault(); 

                        var button = $(this); 
                        var productId = button.data('id'); 
                        var link = button.closest('a');
                        var url = link.attr('href'); 

                        $.ajax({
                            url: url, 
                            type: 'GET',
                            success: function(response) {
                               
                                console.log(response);

                              
                                if (url.includes('eliminar')) {
                                    button.find('i').css('color', 'white');
                                    link.attr('href', '/cliente/gestionarListaDeseos/agregar/' + productId + '/index/');
                                } else if (url.includes('agregar')) {
                                    button.find('i').css('color', 'red');
                                    link.attr('href', '/cliente/gestionarListaDeseos/eliminar/' + productId + '/index/');
                                }

                              
                                url = link.attr('href');
                            },
                            error: function(error) {
                                // Maneja el error
                                console.log(error);
                            }
                        });
                    });
                });
            $(document).ready(function() {
                $(document).on('click', '#aaci, #aald, #edldi', function(event) {
                    event.preventDefault();  
            
           
                    var link = $(this);
            
                    $.ajax({
                        url: $(this).attr('href'),  
                        type: 'GET',
                        success: function(response) {
                       
                            console.log(response);
            
                        },
                        error: function(error) {
                       
                            console.log(error);
                        }
                    });
                });
            });
        </script>
        {% block banner%}
        {% if user.is_authenticated %}
              <!--Registro de nuevos usuarios (hypervinculo al archivo registro)-->
              <div class="alert  alert-dismissible fade show" role="alert" style="position: fixed; bottom: 20px; right: 20px; z-index: 500;">
                <a href="javascript:void(0);" class="btn btn-primary btn-lg">!Bienvenido/a {{ user.first_name}}! Disfruta tu visita ;)</a>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
        {% else %}
          <!--Registro de nuevos usuarios (hypervinculo al archivo registro)-->
          <div class="alert  alert-dismissible fade show" role="alert" style="position: fixed; bottom: 20px; right: 20px; z-index: 500;">
            <a href="registro" class="btn btn-primary btn-lg">¿Eres nuevo? ¡Regístrate!</a>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        {% endif %}
      {% endblock %}
  
{% endblock %}