{% extends "modoAdmin.html"%}
{% load static %}
{% block tituloPrincipal %} Productos {% endblock %}
{% block mensaje    %}
    {% if exito %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{exito}}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endif %}
    {% if error %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            {{error}}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endif %}
{% endblock %}
{% block listado %}
        
            
            
        <div style="height: 350px;">
            <div>
                <table class="table table-responsive table-striped">
                    <tr>
                        <th style="width: 3%;">Id</th>
                        <th style="width: 15%;">Nombre</th>
                        <th style="width: 10%;">Marca</th>
                        <th style="width: 10%;">Precio</th>
                        <th style="width: 10%;">Stock</th>
                        <th style="width: 10%;">Creado en</th>
                        <th style="width: 10%;">Imagen</th>
                        <th style="width: 10%;">Editar</th>
                        <th style="width: 10%;">Eliminar</th>
                    </tr>
                </table>
                <div style="height: 350px; overflow: auto; scrollbar-width: none;">
                    <table class="table table-responsive table-striped">
                        {% for item in listado  %}
                            <tr>
                                <td style="width: 3%;"><div>{{ item.id }}</div></td>
                                <td style="width: 15%;"><div>{{ item.nombre }}</div></td>
                                <td style="width: 10%;"><div>{{ item.marca| capfirst }}</div></td>
                                <td style="width: 10%;"><div>{{ item.precio }}</div></td>
                                <td style="width: 10%;"><div>{{ item.stock }}</div></td>
                                <td style="width: 10%;"><div>{{item.creado_en|date:'d-m-Y'|capfirst }}</div></td>
                                <td style="width: 10%;"><div>
                                    {% if item.imagen %}
                                        <a href="javascript:void(0);" class="btn btn-success fas fa-check-circle"></a>
                                    {% else %}
                                    <a href="javascript:void(0);" class="btn btn-danger fas fas fa-ban"></a>
                                    {% endif %}
                                </div></td>
                                <td style="width: 10%;"><div><a href="{% url 'buscarProducto' pk=item.id %}" class="btn btn-warning fas fa-edit"></a></div></td>
                                <td style="width: 10%;"><div><a href="{% url 'eliminarProducto' pk=item.id %}" class="btn btn-danger far fa-window-close"></a></div></td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>

            </div>
        </div>
        <div class="text-end" style="padding-top: 60px;">
            <a href="{% url 'registroProducto' %}" class="btn btn-primary mt-auto">Ingresar</a>
        </div>
{% endblock %}