{% extends "master.html"%}    
{% load static %}

{%block contenido%}
      <div class="form-login" id="datos-usuario">
        <div class="text-center">
        <div class="container">
          <div id="datos-usuario"></div>
          <script>
            $(document).ready(function(){
                $.get("model/php/user_view.php", function(data) {
                    $("#datos-usuario")(data);
                });
            });
            </script>
        </div> 
        </div>
      </div>
{%endblock%}      
     